@import 'src/variables';

:host {
  .login-page {
    width: 100vw;
    height: 100vh;
    background: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-input-element {
    font-size: 1rem;
    color: $defaultWhite;
  }
  
  .mat-error {
    font-size: .75rem;
  }
}


