<div class="exercises-page">
  <div class="banner banner--align-center banner--title banner--exercise">
    <h1>Exercícios disponíveis</h1>
  </div>
  <div class="button-container d-flex">
    <button mat-mini-fab color="primary" [routerLink]="['/exercicio/cadastrar']">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>
  <div class="cards-container">
    <mat-card *ngFor="let exercise of availableExercises$ | async" class="example-card">
      <img mat-card-image [src]="exercise.image" class="mat-card-image">
      <mat-card-header>
        <mat-card-title>{{exercise.exerciseName}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="updateExercise(exercise)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #confirmationModal>
  <app-confirmation-modal (deniedEvent)="closeModal()" image="assets/img/confirmation-image.svg"
    text="deseja excluir esse exercício ?">
  </app-confirmation-modal>
</ng-template>
