<div class="exercise-page">
  <div class="banner banner--align-center banner--title banner--exercise">
    <h1>Edição de Exercício</h1>
  </div>
  <div style="padding: .5rem;"
    class="form-container d-flex justify-content-center flex-direction-column align-items-center">
    <form [formGroup]="exerciseRegisterForm">
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Nome do exercício</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="true">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <ngx-file-drop dropZoneLabel="Drop files here">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div class="upload-container">
            <span style="margin-right: 1rem;">Insira uma imagem</span>
            <button type="button" mat-raised-button color="primary" (click)="openFileSelector()">Procurar</button>
          </div>
        </ng-template>
      </ngx-file-drop>
      <mat-error *ngIf="true">
        campo obrigatório
      </mat-error>
    </form>
  </div>
  <div class="w-100 pt-2 d-flex justify-content-center">
    <button class="w-90 mt-4" type="button" mat-raised-button color="primary">Editar</button>
  </div>
</div>
