@import 'src/variables';

nav {
    width: 100%;
}

:host {
  .base-page {
    &__navigation {
      .title {
        margin: auto;
      }
    }

    .loading-container {
      position: absolute;
      width: 100vw;
      bottom: 0;
      top: 0;
      background: rgba($defaultBlack, .4);
      z-index: 1000;
    }
  }
}
