<div class="base-page">
  <nav class="base-page__navigation">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div [routerLink]="['/']"
        style="margin: auto; width: 50%;display: flex; justify-content: space-between; align-items: center;">
        <h1 class="title">Gym Pal </h1>
      </div>
    </mat-toolbar>
  </nav>
  <div *ngIf="isLoading$ | async" class="loading-container d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
  <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
  <button *ngFor="let menuItem of menuList" mat-menu-item [routerLink]="[menuItem.url]">
    <mat-icon>{{menuItem.icon}}</mat-icon>
    <span>{{menuItem.name}}</span>
  </button>
  <button mat-menu-item (click)="exit()">
    <mat-icon>close</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
