<div class="base-page">
  <nav class="base-page__navigation">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div [routerLink]="['/']"
        style=" margin: auto; width: 50%;display: flex; justify-content: space-between; align-items: center;">
        <h1 class="title">Gym Webapp </h1>
      </div>
    </mat-toolbar>
  </nav>
  <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/']">
    <mat-icon>house</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="['/treino']">
    <mat-icon>fitness_center</mat-icon>
    <span>Treino</span>
  </button>
  <button mat-menu-item [routerLink]="['/cadastro-atleta']">
    <mat-icon>person_add</mat-icon>
    <span>Cadastrar aluno</span>
  </button>
  <button mat-menu-item [routerLink]="['/cadastro-treinador']">
    <mat-icon>person_add_alt_1</mat-icon>
    <span>Cadastrar treinador</span>
  </button>
  <button mat-menu-item [routerLink]="['/cadastro-treino']">
    <mat-icon>create</mat-icon>
    <span>Cadastrar treino</span>
  </button>
  <button mat-menu-item [routerLink]="['/login']">
    <mat-icon>close</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
