<div class="athlete-form-page">
  <div class="banner banner--align-center banner--title banner--athlete">
    <h1>Cadastro de Aluno</h1>
  </div>
  <div class="form-container">
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Nome</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Idade</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>E-mail</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Telefone</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Peso</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Altura</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Rg</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Cadastrar</button>
  </div>

</div>
