<div *ngIf="exercises$ | async as exercises" class="training-page">
  <swiper *ngIf="exercises && exercises.length > 0" class="swiper-container" [config]="swiperConfig" #swiperGallery>
    <div *ngFor="let exercise of exercises" class="swiper-slide">
      <div class="card-container">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{exercise.exerciseName}}</mat-card-title>
            <mat-card-subtitle>{{exercise.exerciseName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="exercise.exerciseImage" class="slide">
          <mat-card-actions>
            <div class="exercise-info">
              <p>
                <span [matBadge]="exercise.weight" matBadgeOverlap="false">Último peso usado</span>
              </p>
              <p>
                <span [matBadge]="exercise.repetions" matBadgeOverlap="false">Repetições</span>
              </p>
            </div>
            <form class="training-page__change-weight-form d-flex " [formGroup]="changeWeightForm">
              <mat-form-field color="accent">
                <mat-label>Novo peso</mat-label>
                <input formControlName="currentWeight" matInput>
                <mat-error
                  *ngIf="changeWeightForm.get('currentWeight').touched && changeWeightForm.get('currentWeight').errors?.required">
                  campo obrigatório
                </mat-error>
                <mat-error
                  *ngIf="changeWeightForm.get('currentWeight').touched && changeWeightForm.get('currentWeight').errors?.pattern">
                  por favor, insira somente números
                </mat-error>
              </mat-form-field>
              <button style="height: 40px" color="primary" mat-raised-button (click)="changeWeight(exercise)">
                Alterar peso
              </button>
            </form>
            <div>
            </div>
            <button color="primary" id="done" mat-raised-button (click)="onDoneHandler(exercise)">Feito</button>
            <button color="primary" id="finalize-training" mat-raised-button
              (click)="onFinishHandler(confirmationModal)">Finalizar
              treino</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </swiper>
</div>

<ng-template #confirmationModal>
  <app-confirmation-modal image="assets/img/confirmation-image.svg" text="Tem certeza que deseja finalizar o treino ?"
    (confirmationEvent)="finishTraining()" (deniedEvent)="closeModal()">
  </app-confirmation-modal>
</ng-template>

<ng-template #successModal>
  <app-success-modal text="Treino concluido com sucesso!" image="assets/lottie/champion.json">
  </app-success-modal>
</ng-template>

<ng-template #finalizedTraining>
  <app-success-modal text="Treino finalizado!" image="assets/lottie/finalize-training.json">
  </app-success-modal>
</ng-template>
