<div class="training-page">
  <swiper class="swiper-container" [config]="swiperConfig" (indexChange)="onIndexChange($event)"
    (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
    #swiperGallery>
    <div *ngFor="let exercise of exercises$ | async" class="swiper-slide">
      <div class="card-container">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{exercise.exerciseName}}</mat-card-title>
            <mat-card-subtitle>{{exercise.exerciseName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="exercise.exerciseImage" class="slide">
          <mat-card-content>
            <p>
              {{exercise.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="exercise-info">
              <p>
                <span [matBadge]="exercise.weight" matBadgeOverlap="false">Último peso usado</span>
              </p>
              <p>
                <span [matBadge]="exercise.repetions" matBadgeOverlap="false">Repetições</span>
              </p>

            </div>
            <mat-form-field color="accent">
              <mat-label>Novo peso</mat-label>
              <input matInput>
            </mat-form-field>
            <button color="primary" mat-raised-button (click)="swiperGallery.directiveRef.nextSlide()">Alterar
              peso</button>
            <div>
            </div>
            <button color="primary" mat-raised-button (click)="done()">Feito</button>
            <button color="primary" mat-raised-button (click)="swiperGallery.directiveRef.nextSlide()">Pular</button>
            <button color="primary" mat-raised-button (click)="swiperGallery.directiveRef.nextSlide()">Finalizar
              treino</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </swiper>
</div>