<div class="my-athletes-page">
  <div class="banner banner--align-center banner--title banner--bonification">
    <h1>Meus atletas</h1>
  </div>
  <div *ngFor="let myAthlete of myAthletes | async" class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{myAthlete.name}}
        </mat-panel-title>
        <mat-panel-description>
          Idade: {{myAthlete.age}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="description-container">
        <div>Peso atual: {{myAthlete.weight}}</div>
        <div>Altura: {{myAthlete.height}}</div>
      </div>
      <div class="action-container">
        <a (click)="deleteAthlete(myAthlete)">
          <mat-icon>delete</mat-icon>
        </a>
        <a (click)="editAthlete(myAthlete)">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-expansion-panel>
  </div>

</div>
