:host {
  .my-athletes-page {
    .panel-wrapper {
      padding: 1rem;
      width: 100%;
    }

    .action-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .description-container {
      padding-bottom: 1rem;
    }
  }
}
