@import '../../../../variables';

:host {
  .training-type {
    padding-top: 4rem;
    &__button {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .header {
      font-size: $big;
      text-align: center;
    }
  }
}
