<div class="training-type">
  <h1 class="header"> Qual treino gostaria de fazer hoje ?</h1>
  <div class="training-type-container d-flex flex-direction-column w-100 align-items-center justify-content-center">
    <button mat-fab class="training-type__button" (click)="startTraining(trainingType.A)"> A </button>
    <button mat-fab class="training-type__button" (click)="startTraining(trainingType.B)"> B </button>
    <button mat-fab class="training-type__button" (click)="startTraining(trainingType.C)"> C </button>
  </div>
</div>
