<div class="coach-form-page">
  <div class="banner banner--align-center banner--title">
    <h1>Cadastro de treinador</h1>
  </div>
  <div class="form-container">
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Nome</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Idade</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>E-mail</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Telefone</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Endereço</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Cnpj</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Cadastrar</button>
  </div>

</div>
