<div class="coach-form-page">
  <div class="banner banner--align-center banner--title banner--coach">
    <h1>Cadastro de treinador</h1>
  </div>
  <div class="form-container">
    <form style="width: 90%;" [formGroup]="coachCadasterForm">
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Nome</mat-label>
          <input formControlName="name" matInput>
          <mat-error *ngIf="coachCadasterForm.get('name').touched && coachCadasterForm.get('name').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Idade</mat-label>
          <input [textMask]="{ mask: ageMask }" formControlName="age" matInput>
          <mat-error *ngIf="coachCadasterForm.get('age').touched && coachCadasterForm.get('age').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput>
          <mat-error *ngIf="coachCadasterForm.get('email').touched && coachCadasterForm.get('email').errors?.required">
            campo obrigatório
          </mat-error>
          <mat-error *ngIf="coachCadasterForm.get('email').touched && coachCadasterForm.get('email').errors?.email">
            por favor, insira um e-mail válido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Telefone</mat-label>
          <input [textMask]="{ mask: phoneMask, guide: false }" formControlName="phone" matInput>
          <mat-error *ngIf="coachCadasterForm.get('phone').touched && coachCadasterForm.get('phone').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Endereço</mat-label>
          <input formControlName="address" matInput>
          <mat-error
            *ngIf="coachCadasterForm.get('address').touched && coachCadasterForm.get('address').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Peso</mat-label>
          <input [textMask]="{ mask: numberMask }" formControlName="weight" matInput>
          <mat-error
            *ngIf="coachCadasterForm.get('weight').touched && coachCadasterForm.get('weight').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Altura</mat-label>
          <input [textMask]="{ mask: numberMask }" formControlName="height" matInput>
          <mat-error
            *ngIf="coachCadasterForm.get('height').touched && coachCadasterForm.get('height').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field color="accent">
          <mat-label>Senha</mat-label>
          <input formControlName="password" type="password" matInput>
          <mat-error
            *ngIf="coachCadasterForm.get('password').touched && coachCadasterForm.get('password').errors?.required">
            campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button color="primary" (click)="cadasterCoach()">Cadastrar</button>
  </div>
</div>
