<div class="bonification-page">
  <div class="banner banner--align-center banner--title banner--bonification">
    <h1>Bonificação</h1>
  </div>
  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nome do Atleta
        </mat-panel-title>
        <mat-panel-description>
          Pontuação do atleta
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button color="primary" mat-raised-button> Bonificar </button>
    </mat-expansion-panel>
  </div>

  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nome do Atleta
        </mat-panel-title>
        <mat-panel-description>
          Pontuação do atleta
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button color="primary" mat-raised-button> Bonificar </button>
    </mat-expansion-panel>
  </div>

  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nome do Atleta
        </mat-panel-title>
        <mat-panel-description>
          Pontuação do atleta
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button color="primary" mat-raised-button> Bonificar </button>
    </mat-expansion-panel>
  </div>
</div>
