<div class="coach-list-page">
  <div class="banner banner--align-center banner--title banner--coaches">
    <h1>Treinadores</h1>
  </div>
  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treinador
        </mat-panel-title>
        <mat-panel-description>
          CPF
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="action-container">
        <a (click)="openSnackbar('Treinador excluido com sucesso!')">
          <mat-icon>delete</mat-icon>
        </a>
        <a [routerLink]="['/treinador/atualizar']">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treinador
        </mat-panel-title>
        <mat-panel-description>
          CPF
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="action-container">
        <a>
          <mat-icon>delete</mat-icon>
        </a>
        <a [routerLink]="['/treinador/atualizar']">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treinador
        </mat-panel-title>
        <mat-panel-description>
          CPF
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="action-container">
        <a (click)="openSnackbar('Treinador excluido com sucesso!')">
          <mat-icon>delete</mat-icon>
        </a>
        <a>
          <mat-icon [routerLink]="['/treinador/atualizar']">edit</mat-icon>
        </a>
      </div>
    </mat-expansion-panel>
  </div>
</div>
