<div class="coach-list-page">
  <div class="banner banner--align-center banner--title banner--coaches">
    <h1>Treinadores</h1>
  </div>
  <div *ngFor="let coach of coaches$ | async" class="panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{coach.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{coach.email}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="action-container">
        <a (click)="openModal(confirmationModal); coachToBeDeleted = coach">
          <mat-icon>delete</mat-icon>
        </a>
        <a [routerLink]="['/treinador/atualizar']" (click)="updateCoach(coach)">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<ng-template #confirmationModal>
  <app-confirmation-modal image="assets/img/confirmation-image.svg" text="Tem certeza que deseja finalizar o treino ?"
    (confirmationEvent)="deleteCoach()" (deniedEvent)="closeModal()">
  </app-confirmation-modal>
</ng-template>
