:host {
  .home-page {
    .button-container {
      width: 100%;
      
      text-align: right;
      padding: 1rem;
    }
  }

  .subtitle {
    width: 75%;
    margin: auto;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

    &--column {
      flex-direction: column;
      width: 50%;;
      margin: auto;
    }

  }
}
